body{
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}

.searchContainer{
	margin: 0 auto;
	padding: 10px;
	width: 260px;
	position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.search{
  background-color: rgba(0,0,0,0);
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 23px;
  border: 1px solid white;
  box-shadow: none;
  outline: none;
  opacity: 1;
  transition-duration: 1s; 
	overflow: hidden;
	padding: 10px;
}

.search:after{
  content: "\00d7";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  right: 25px;
  font-weight: bold;
  top: -55px;
  color: #fff;
  cursor: pointer;
  z-index: -1;
  border-radius: 100%;
  transition-duration: 0.5s;
  text-align: right;
  width: 50px;
  height: 35px;
}

button{
  position: absolute;
  left: 9px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
	font-size: 12px;
	cursor: pointer;
}

ul{
	position: absolute;
	top: 40%;
}

ul li{
	list-style: none;
	padding: 10px 0;
}

ul li a{
	color: white;
	margin-left: 10px;
	position: relative;
	top: -20px;
	min-width: 300px;
}

ul li a:hover{
	color: black;
}